/* CSS for ChiliPeppr Widget */

#com-chilipeppr-widget-luaeditor {
   margin-bottom:0;
}

#com-chilipeppr-widget-luaeditor .panel-body {
    padding:0;
}
#com-chilipeppr-widget-luaeditor .panel-body textarea {
    width:100%;
    height:100%;
}
#com-chilipeppr-widget-luaeditor .panel-footer {
    font-size:11px;
    padding:0;
    margin:0;
}
#com-chilipeppr-widget-luaeditor .panel-footer textarea {
    background:none;
    background-color:#f5f5f5;
    border:none;
}

#com-chilipeppr-widget-luaeditor .ace_search_field {
    color: black;
}

#com-chilipeppr-widget-luaeditor .nav-tabs>li>a {
    margin:2px 0px 0px 2px;
    padding: 0px 18px 2px 6px;
}

#com-chilipeppr-widget-luaeditor .lastModifyDate {
    /*font-style: italic;*/
    color: #999999;
}

#com-chilipeppr-widget-luaeditor .devicefilename-region {
    margin:8px 0px 0px 0px;
    padding:0px 8px 8px 8px;
    border:1px solid #46b8da;
    box-shadow: 0px 0px 1px 0px #46b8da; /* Standard */
}

#com-chilipeppr-widget-luaeditor .close {
    position: absolute;
    right:6px;
    top:3px;
    /*top: -2px;*/
    /*right: -21px;*/
    color: inherit;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
#com-chilipeppr-widget-luaeditor .close:hover {
    opacity:1;
    filter: alpha(opacity=100);
}

.luaeditor-maineditor {
    font-size:13px;
    height: 100%;
    
}
.luaeditor-maineditor.empty {
    opacity: 0;
}